[2019-12-12 17:13] csharpfritz opened #1 "Default the Context for a control to "Item""
Need to do some research into how Blazor sets "@context" as the default context variable name for child components.  To maintain Web Forms compatibility we should reset the default for THESE COMPONENTS ONLY to @Item

[2019-12-19 17:01] csharpfritz opened #5 "Add docs for Repeater component"

[2019-12-19 17:02] csharpfritz opened #6 "Improve docs for the ListView"
- [ ] Show which features are currently supported
 - [ ] Describe the techniques to migrate an existing ListView

[2019-12-19 17:24] #5 closed

[2019-12-19 17:41] csharpfritz opened #9 "Enabled and Visible properties don't work on Repeater"

[2019-12-29 21:11] #9 closed

[2020-01-01 16:39] SimonGeering opened #11 "Create a Snippet package"
Suggestion to publish a Snippet package for the static imports to anabe phau enumeration types as well as other useful markup snippets.

Another option may be an extension or project templates

[2020-01-03 20:04] csharpfritz opened #12 "MasterPages"
What do we do with the MasterPage object?  Is there a shim that could be constructed to redirect how a Blazor component is contained?

[2020-01-04 20:48] csharpfritz opened #13 "Colors in markup"
In Web Forms, you were able to set attribute values for colors to either a color name or to an HTML hex color representation.  In our components, you're forced in a Color object

[2020-01-05 21:13] csharpfritz opened #14 "Unit Tests for FooterTemplate"

[2020-01-05 21:13] csharpfritz opened #15 "Unit Tests for FooterStyle"

[2020-01-07 16:33] csharpfritz opened #17 "ColorTranslator does not work in Blazor WASM"
Browse to the DataList - HeaderStyle sample in AfterClientSide for an example

[2020-01-07 17:02] SQL-MisterMagoo opened #18 "Suggestion: dotnet global tool to convert ascx to razor"
It would be a great companion tool to have to convert ascx files to razor components - fixing any obvious name changes along the way (thinking the @context vs Item problem here)

[2020-01-07 17:07] csharpfritz opened #19 "Complete features for DataList"
Add these attributes to the DataList

- [x] Caption
- [x] CaptionAlign
- [x] CellPadding
- [x] CellSpacing
- [x] GridLines
- [x] TabIndex

Add these child elements to the DataList

- [x] AlternatingItemStyle
- [x] AlternatingItemTemplate
- [x] ItemStyle
- [x] SeperatorStyle
- [x] SeperatorTemplate

[2020-01-08 16:28] csharpfritz opened #21 "DataList: RepeatColumns needs to be supported and support more than 1 column"

[2020-01-08 17:02] csharpfritz opened #22 "Wrap attribute in TableItemStyle is not implemented"

[2020-01-08 21:51] #19 closed

[2020-01-08 22:25] csharpfritz commented on #18
I love this idea, and it is a big rock to be addressed as a future project on its own.  Perhaps as part of a larger collection of tools that augment the Blazor conversion of applications

[2020-01-08 22:28] csharpfritz opened #25 "ListView does not support Grouping"
The following features need to be implemented for grouping:

Attributes:
- [ ] GroupPlaceholderID
- [ ] GroupItemCount

Child  Elements:
- [ ] GroupSeparatorTemplate
- [ ] GroupTemplate

[2020-01-08 22:29] csharpfritz commented on #25
Some of this may not be possible with Blazor and the way that child templates are rendered.  Needs research

[2020-01-08 22:33] hishamco commented on #18
Hi @csharpfritz I just saw your project yesterday, I like it .. you remind me with an old project I made to support WebForms in .NET Core, I hope to do some contributions

Just one question following your project will still close the possibility for VB developers to migrate their code. Any idea about this?

[2020-01-09 03:34] Code-DJ commented on #13
Is this supported? WebForms uses TypeConverter to handle this, but it appears this isn't fully implemented in Razor. Am I missing something?

https://github.com/dotnet/aspnetcore/issues/8493

[2020-01-09 15:19] csharpfritz commented on #13
One idea I had considered was wrapping the `System.Drawing.Color` type as `WebColor` and provide and implicit conversion from string to `WebColor` that inspects and does the appropriate conversion.

`WebColor` should simply delegate to the `System.Drawing.Color` object while providing a good `ToHtmlString()` method that allows us to format the `WebColor` for our markup styles.

We could use the sa

[2020-01-09 16:53] csharpfritz opened #27 "For obsolete parameters, add descriptive fixes"
We should add a comment to the Parameter's code docs (///) with a link to a GitHub doc with more information about how to fix the obsolete code

[2020-01-09 16:59] csharpfritz opened #28 "Handle LayoutTemplates"
For controls like ListView, there are LayoutTemplate elements that declares the outer rendering for the component.  There is typically a an ItemPlaceholderId attribute that defines an element id inside the LayoutTemplate where in the LayoutTemplate the contents of the component should be inserted.

[code]

should render something like:

[code]

[2020-01-09 17:11] csharpfritz opened #29 "Implement ListViewItem"

[2020-01-11 17:57] SQL-MisterMagoo commented on #28
I have made some progress on this and hope to share something this weekend.

[2020-01-11 18:13] csharpfritz commented on #28
Ooh!  Did any of the code I started in the spike branch help with your attempt at templates?

Jeff

[2020-01-11 19:03] SQL-MisterMagoo commented on #28
I started with a blank slate.

[2020-01-12 03:22] SQL-MisterMagoo commented on #28
Here's the main problem - a section of markup on the page is treated in two basic ways.

1. Plain html markup
2. Razor/C# code

When you define a RenderFragment e.g. LayoutTemplate and the developer populates it like this

[code]

Then the Razor compiler will create the following code (this is just the bit we care about):

[code]
You notice that the entire template is added as a section of MarkupC

[2020-01-12 04:31] csharpfritz commented on #28
Oh yea, the Eval databinding is not going to work... and should be
converted to strongly-typed Item.Something notation

I can absolutely take the consideration of placing an @() where the
template contents should be rendered.  That feels like a small price to pay
to get the templating functionality working properly.

Jeff

On Sat, Jan 11, 2020 at 10:22 PM SQL-MisterMagoo <notifications@github.com>

[2020-01-13 01:27] SQL-MisterMagoo commented on #28
I have sent a PR with the Layout template working as described above with `@itemPlaceHolder`

Feel free to ask questions about the implementation, but I hope it is obvious enough - it's just getting your head around the change to make  LayoutTemplate a `RenderFragment<RenderFragment>` that is the key.

If you view the diff ignoring whitespace - there are not too many changes to the core component.

[2020-01-13 15:55] csharpfritz opened #33 "Validators: Need unit tests"
We need to add some unit tests for the new validators components

[2020-01-13 16:12] #13 closed

[2020-01-13 20:35] Kahbazi commented on #33
@csharpfritz I will add unit tests for validators.

[2020-01-13 20:37] csharpfritz commented on #33
Thank you for taking the lead on this!

[2020-01-13 20:45] #28 closed

[2020-01-14 16:21] Kahbazi opened #36 "Blocked on Implementing ValidationGroup and CauseValidation"
In order to implement `ValidationGroup` and `CauseValidation`, we need to get the element causing submit in `EditForm`, which is not possible in blazor right now.
I opened an issue on AspNetCore repo requesting this feature. https://github.com/dotnet/aspnetcore/issues/18326

[2020-01-14 19:09] csharpfritz commented on #36
I'll show this on stream Thursday the 16th and we can discuss alternate paths forward

[2020-01-15 18:32] csharpfritz opened #37 "Samples: Move component references to a tree control in the left navigation"
- [x] Blazor Samples
 - [ ] Web Forms Samples

[2020-01-15 18:33] csharpfritz opened #38 "Samples: Publish a live site"
We should have a live website that shows all of the samples running

[2020-01-16 15:24] #33 closed

[2020-01-16 16:53] simonmurdock opened #39 "Output compatibility mode"
While watching the stream I saw Fritz debate on whether to use an older style of UI with inline styling like webforms would output, or a more modern approach.

I suggested that since the output may benefit from a "Compatibility mode" switch, which would let you choose the older style for front-end JS compatibility with webform output, or a new clean style which can drop the legacy webform style.

[2020-01-16 17:59] Kahbazi opened #40 "Render ID in Html"
Watching your stream, you mentioned people might have some javascript which depends on the html that webforms is creating. Does that mean that we should render the ID property in the html?

[2020-01-16 18:08] Kahbazi opened #41 "Login Controls: Implement Login"
I'll take this one!

[2020-01-17 15:58] csharpfritz commented on #40
Need some research on how applicable this might be as we push more client-side features into C# / Blazor

[2020-01-17 16:11] #41 closed

[2020-01-17 16:15] hugodahl opened #43 "Add Unit Tests for Login Control"
Add unit tests for the login controls from issue #41, and implemented in PR #42.

[2020-01-19 03:49] #17 closed

[2020-01-20 03:33] #22 closed

[2020-01-20 04:09] csharpfritz opened #49 "DataList: Simplify TableItemStyle elements"
HeaderStyle, ItemStyle, etc parameter elements should not need a ChildContents container to be represented.

[2020-01-23 16:23] csharpfritz opened #52 "ListView: ModelBinding sample is not working"

[2020-01-23 16:55] EdCharbeneau opened #53 "Consider refactor with BlazorComponentUtilities package"
https://github.com/FritzAndFriends/BlazorWebFormsComponents/blob/ddca5707f4d9d086784df3a4515925cc19746553/src/BlazorWebFormsComponents/IHasTableItemStyle.cs#L120-L165

https://www.nuget.org/packages/BlazorComponentUtilities/

[2020-01-23 19:50] csharpfritz opened #55 "TreeView: DataBinding strategy"
Discussion:

A recursive TreeNode binding strategy may more easily help enable other data-models beyond XML to bind data to the TreeView.

[2020-01-23 19:52] marin-bratanov commented on #55
I think it can also ease the creation of the bindings - the loops that create nodes can count their level (depth) and so you can easily extract field names or other info from a List of bindings by their index.

[2020-01-24 07:35] Mark-Phillipson opened #57 "Accessibility concerns regarding Treeview and other controls"
Using a Treeview can have some negative effects on accessibility users. From a personal point of view when using speech recognition.

It is very hard to move the mouse to a certain point to expand a node, especially when it is so small.

If a Treeview is used it would be helpful to have a search text box that will filter the nodes below. Also the arrow keys should work for moving around in the Tre

[2020-01-24 15:54] csharpfritz commented on #57
I really like this suggestion, and for the TreeView I would like to introduce a boolean property "UseAccessibilityFeatures" that adds aria tags and helps improve keyboard navigation for the elements of the TreeView

[2020-01-28 03:59] csharpfritz opened #61 "TreeView: Expanded attribute expands and collapses quickly"
When Expanded is set to false, the treeview nodes cannot be expanded properly as they immediately collapse

[2020-01-28 16:00] csharpfritz commented on #61
Added @onclick:preventDefault @onclick:stopPropagation attributes to the TreeNode to prevent re-rendering and resetting of the Expanded property

[2020-01-28 16:00] #61 closed

[2020-01-28 16:32] csharpfritz opened #63 "DataList: Does not trigger the DataBinding and DataBound events"

[2020-01-29 08:18] hishamco commented on #55
I already did some data binding with AD organizational units and their children using recursive strategy, I'm glad to share my thoughts, and doing some exterminates after looking to the Tree View component

[2020-01-29 08:29] hishamco commented on #40
IMHO `id` & 'name` properties are very useful when working with javaScript libraries and validations too, even MVC & RazorPages generate those properties when we are using `asp-for`

I suggest that each control / component has a unique id or name then we will generate the other property such what `asp-for` did

[2020-01-29 08:31] hishamco commented on #43
I may take this one if all the controls / components are teastable

[2020-01-29 08:58] hishamco opened #66 "Gitter Community"
I just create a Gitter community named `BlazorWebFormsComponents/community`

@csharpfritz, I just take the initiative to create this community, hope this help for further discussion about this project

[2020-01-29 11:48] csharpfritz commented on #40
I think there should be a `ComponentIdGenerator` that looks at the name of the `@ref` or grabs the `id` or `name` attribute for a component and adds the id or name to the component appropriately.  In complex controls like TreeView, generating id attributes for child elements will be a valuable resource

[2020-01-29 17:00] csharpfritz opened #67 "Legal: Can we re-use images from Web Forms framework"

[2020-01-30 01:03] csharpfritz commented on #67
Semi-official statement from .NET team:  the source code and resources from ASP.NET are open source on https://sourceof.net

We can re-use these elements as needed

[2020-01-30 02:20] csharpfritz opened #68 "TreeView: When navigating without frames, expanded state resets"

[2020-01-30 14:09] csharpfritz commented on #67
Resolved:  The source code through version 4.8 is published at https://github.com/microsoft/referencesource and licensed with MIT.

[2020-01-30 14:10] #67 closed

[2020-01-30 18:54] EdCharbeneau commented on #53
Done & Done https://www.twitch.tv/videos/544128754

[2020-01-30 18:54] #53 closed

[2020-02-02 12:21] #66 closed

[2020-02-02 12:24] hishamco opened #71 "Unable to restore Project Packages"
@csharpfritz I want to do some PRs, but till now I'm not able to restore the project packages using `dotnet restore`

Any guidance on that? This is first OSS project I faced this issue

[2020-02-02 12:35] csharpfritz commented on #71
What errors are you getting?  Can you share the error report so that we can debug?

[2020-02-02 12:55] csharpfritz commented on #71
There is a nuget.config in the `dev` branch that SHOULD configure you appropriately.

You should be able to `dotnet restore` from the `src` folder and start working with the library and Blazor samples.

The BeginWebForms application will require you to nuget restore from samples/BeforeWebForms.

[2020-02-02 13:19] hishamco commented on #71
What kind of configuration? coz I just run the restore command directly

Thanks

[2020-02-02 13:21] csharpfritz commented on #71
The `nuget.config` file in the root of the repository should configure the packages folder for the BeginWebForms project if you need to refer back to the Web Forms code.

The .NET Core / .NET Standard projects in `src` and `samples` should restore just fine with a `dotnet restore` command in their project folders.

[2020-02-02 13:27] hishamco commented on #71
Let me try now, thanks a lot Jeffrey

[2020-02-06 20:24] grleachman commented on #63
Is there anything more you'd like done on this?

[2020-02-06 20:36] grleachman opened #75 "Decide on and Add StyleCop settings"
Would it be an idea to use some standard settings for the project?

This would probably need to be phased.
- Decide on a set of StyleCop settings to use (covering both c# and blazor), that would impact the project minimally, perhaps using warnings first.
- Ensure any commits do not produce new warnings
- Reduce warnings
- Set warnings to Errors

[2020-02-06 20:44] grleachman commented on #52
see [ListView](https://github.com/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/ListView.md) for the Implementation that is being aimed for.

also see [System.Web.UI.WebControls.ListView](https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.webcontrols.listview?view=netframework-4.8) for `asp:ListView` class inheritance and interfaces implemented.

[2020-02-07 01:48] grleachman commented on #1
Are you wanting to not have to convert explicitly

[code]
where the **Context="Item"** changes `@context` to `@item`

What you want is for the `BlazorWebFormsComponents.ListView` to be able to recognize the `@item` notation without the need for the **Context="Item"** markup in the client code.

You'd then have

[code]

[2020-02-07 02:30] grleachman commented on #6
see [ListView.md](https://github.com/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/ListView.md)

[2020-02-07 09:39] csharpfritz commented on #71
@hishamco -- are  you still having a problem?

[2020-02-07 10:16] csharpfritz commented on #1
Precisely!  This helps the syntax adhere to the standard used in Web Forms and eliminates another piece of Blazor specific syntax that needs to be added when migrating from ASP.NET Web Forms.

[2020-02-07 10:17] csharpfritz commented on #63
This should have closed when I merged your PR yesterday.  Will close it now

[2020-02-07 10:18] #63 closed

[2020-02-07 20:54] grleachman commented on #1
Some reading
[dotnet/Blazor merge for : Adds support for 'Context' parameters](https://github.com/dotnet/blazor/pull/1470/commits)

[2020-02-07 21:13] csharpfritz commented on #1
Oooh!   so we COULD override the Context parameter somewhere in the stack to force it.

Need to research a little further

[2020-02-07 21:30] grleachman commented on #1
The commit is actually against an internal `ComponentTagHelper…` but it gives a place to start.
### L276
however it all looks very internal.

Without thinking about how this might actually be implemented
- intercept the Blazor rendering
- replace `@item` with `@context`
- pass that back into the Blazor renderer
which sounds like a "simple" decorator.

[2020-02-07 21:46] grleachman commented on #1
BlazorWebFormComponents needs to be able to access the TagHelperDescriptorBuilder here, and apply the same behaviour as the CreateContextParameter with the `childContentName = item`
[code]

[2020-02-08 03:20] hishamco commented on #71
Thanks for asking Jeff, ya still, but I'm trying to check if it's my internet connection issue or NuGet feed links, coz I got some of `System.TimoutException`

[2020-02-08 13:42] grleachman commented on #1
The test for this in Blazor : [ChildContentRazorIntegrationTest](https://github.com/dotnet/aspnetcore/blob/master/src/Components/Blazor/Build/test/ChildContentRazorIntegrationTest.cs)

[2020-02-08 14:23] csharpfritz commented on #1
so.. could we override this by adding a `string Context {get;set;}` to a base class and default it to `Item`?

[2020-02-08 19:35] rynowak commented on #1
We deliberately do not allow a component to set the name of `context`. This creates a guessing game, where different components in the ecosystem have different behaviors, and users have to figure it out for each library they use.

[2020-02-08 19:40] csharpfritz commented on #1
We’d like to extend the defaults to allow the “Item” that was the default in web forms to be usable as a default as well.

Jeff

[2020-02-08 22:58] grleachman commented on #1
While it would be fun to research this further, and find some point of DI that could subvert the Blazor teams deliberate enforcement of the `context` syntax. I think there might be better places to invest in.

A ticket should be created to document this explicit requirement for conversion.

[2020-02-09 09:28] grleachman commented on #15
Do you mean test on DataList.FooterTemplate.FooterStyle

[2020-02-09 17:23] csharpfritz opened #77 "TreeView: Analyze how the images and click expansion should work"
We need some concrete requirements and tests to verify that images are placed appropriately for the various ImageSets.  This means the following:
 - [x] What is the behavior of the NoExpand images?
 - [x] If there are no images, does clicking the parent nodes expand and collapse the tree?
 - [x] Where and how are the gridlines placed?

[2020-02-09 17:45] grleachman commented on #21
annoying little issue here..

[Attribute Value Conflicts](https://github.com/grleachman/BlazorWebFormsComponents/commit/119065d09d2eb20e7ff3361ad49d14febb35a823#diff-2bf2259c65ec6fdb4a33a31f47132ce9)

Adding RepeatDirection has caused a conflict with GridLines

There's now an ugly problem where the static enums require the markup to be messy, requiring

```Gridlines="Enums.GridLines.Horizontal"```

[2020-02-09 18:14] csharpfritz commented on #21
Maybe these don't need to be static enums and can be regular enums

[2020-02-09 18:24] grleachman commented on #21
The alternative is to not have individual attribute enums...
`Enums.Gridlines.Horizontal` and
`Enums.RepeatDirection.Horizontal`

but rather use
`Enums.**DataList**.Horizontal`

[2020-02-10 23:36] grleachman commented on #1
it might be nice if the Blazor team add some specific `WebFormsSupport()`.
`                  services.AddWebFormsSupport();`
This might do things like  …
- override the internal ?TagHelper? that manages / sets the `Context="Item"`

[2020-02-11 11:47] grleachman commented on #49
Currently the Markup needs
[code]

We would like to remove the need for the `<ChildContent>` tag
[code]
and be able to use the HeaderStyle by doing
[code]

[2020-02-11 11:54] csharpfritz commented on #49
Correct.. how could we support a child element with attributes?

[2020-02-11 23:34] grleachman commented on #49
**DevNotes**
Blazor team commit for error message on  [Templated Components](https://github.com/dotnet/blazor/pull/1404/commits/99b6cdd0cf67d01f65b9485f430e767d963f1d20)
and [test](https://github.com/dotnet/blazor/blob/99b6cdd0cf67d01f65b9485f430e767d963f1d20/src/Microsoft.AspNetCore.Blazor.Razor.Extensions/ComponentLoweringPass.cs)

[2020-02-12 00:15] grleachman commented on #1
#49  another unsupported (but we'll do it if the community shouts loud enough)

[2020-02-12 15:38] csharpfritz opened #79 "Attribute Value Conflicts"
from @grleachman in #21

Attribute Value Conflicts

Adding RepeatDirection has caused a conflict with GridLines

There's now an ugly problem where the static enums require the markup to be messy:

Gridlines="Enums.GridLines.Horizontal"
RepeatDirection="Enums.RepeatDirection.Horizontal"

This is going to be painful for migration.

[2020-02-12 15:38] csharpfritz commented on #21
Merged.  Thank you for the work on this complex issue

[2020-02-12 15:38] #21 closed

[2020-02-12 16:41] csharpfritz opened #82 "FormView component"
- [x] Initial documentation from docs.microsoft.com
- [x] Build a sample page in BeforeWebForms project
- [x] Component
- [x] Read-only mode
- [x] Command button support
- [x] EditItemTemplate
- [x] InsertItemTemplate
- [x] Event Handlers

Need to trigger a Delete on the DataSource when a CommandName "Delete" is triggered.
https://docs.microsoft.com/dotnet/api/system.web.ui.webcontrols.formview?vi

[2020-02-12 20:01] grleachman commented on #15
Can this be closed

[2020-02-12 20:16] csharpfritz commented on #15
Yes.. merged and released.  Thanks!

[2020-02-12 20:16] #15 closed

[2020-02-13 14:04] csharpfritz commented on #71
Closing and will re-open if there is an issue identified

[2020-02-13 14:04] #71 closed

[2020-02-13 14:24] #55 closed

[2020-02-13 17:24] csharpfritz opened #85 "Can we create an Eval() method for templates?"
This might be a stretch, but what about writing a method that uses reflection across the @Context item in a template to output a property specified in the same way that Eval() worked in Web Forms?

From Web Forms:  `<#: Eval("EmployeeName") %>`
converts to:     `@Eval("EmployeeName")`

[2020-02-13 23:47] hishamco commented on #85
It's good idea for those who wanna convert binding syntax from WebForms, but if the `@context` is strongly type I prefer to use it rather than doing a reflection stuff

[2020-02-14 15:29] #77 closed

[2020-02-14 16:21] #14 closed

[2020-02-15 14:08] csharpfritz commented on #75
I think we would want to add stylecop settings to the main library and test project first, and consider the samples for a later pass

[2020-02-15 14:15] csharpfritz commented on #85
Oh yes, the strongly-typed reference should be the recommended way to solve this.

This feature should be considered JUST to make an automated conversion easier.

[2020-02-15 17:07] hishamco commented on #85
Agree

[2020-02-15 18:41] csharpfritz commented on #85
Completed an initial implementation that uses a CascadingValue to populate the value inside of an Eval component that is dynamically added to when the Eval() method is called.

Also added a format argument to the Eval method.

The CascadingParameter needs to be carried through to the other databound components.  Should try to adhere to the `DataBinder.Eval` syntax defined here:  https://docs.micro

[2020-02-15 19:17] csharpfritz commented on #85
Thinking more about this approach, we could probably write something to handle the `Item.` and `BindItem.` syntax of the databinder as well

[2020-02-16 15:28] #25 closed

[2020-02-16 21:29] grleachman commented on #43
@hishamco are you likely to push any code on this one soon?

[2020-02-16 21:45] grleachman opened #89 "Improve Test Coverage on ListView Grouping"
I wasn't happy with the test coverage.
Having gone back to review I find it's lacking, and the behaviour still doesn't mimic the WebForms correctly specifically around ItemSeparator.

There's an interesting anomaly on groups of 7 grouped by 3 where the ItemSeparator is added after the last item twice. Not sure why this is, but presume it needs to be mimicked, and will investigate other combination

[2020-02-16 22:54] #52 closed

[2020-02-17 20:29] csharpfritz opened #91 "How do we handle Site.mobile.master and alternative rendering?"
In the later versions of ASP.NET Web Forms, the concept of .mobile.aspx and .mobile.master pages were introduced to allow for alternative rendering of web forms that would target mobile browsers.

How should we handle this feature?

[2020-02-17 20:54] csharpfritz opened #92 "Custom Control shim?"
When we consider converting usercontrols, master pages, and pages we also need to consider converting custom controls.

Is there a shim abstract class that we could make available that these classes that inherit from WebControl or CompositeControl could inherit from and be able to work with Blazor?

I think this may be a separate .NET Standard class library to support this goal

[2020-02-17 21:11] csharpfritz opened #93 "Implement ViewState?"
This may sound crazy, but do we want to implement ViewState in this project?

We could consider it in the name of helping with migration and make a super simple `Dictionary<string,object>` available in our components private scope that *COULD* provide the same features as ViewState.

We would want to mark it with an `Obsolete` flag to help encourage folks to migrate from using it long-term.

[2020-02-17 22:19] blowdart commented on #93
No you don't. Serializing object is always a bad idea because it's remote code execution waiting to happen. So to prevent that you need to introduce signing, and preferably encryption.

While data protection can get you there the question really is *what* do people need viewstate for? Why doesn't tempdata work for them?

[2020-02-17 22:24] csharpfritz commented on #93
No..  we wouldn't serialize data back and forth...  just implement the Dictionary<string,object> and store it in memory as with any other Blazor class-scoped field.

This is intended as a compatibility shim @blowdart

[2020-02-17 22:25] benaadams commented on #93
Would this be "viewstate" that is never passed anywhere; e.g. server-side blazor it never leaves the server and client-side blazor it never leaves the client?

e.g.  so it just "looks like" viewstate to the developer but doesn't get posted back and forth like actual webforms viewstate?

[2020-02-17 22:26] csharpfritz commented on #93
EXACTLY @benaadams -- It looks like ViewState, acts like ViewState, but is implemented as a Dictionary that is a field on a Blazor component

[2020-02-17 22:27] blowdart commented on #93
I'd wonder what happens if an object's dispose is called on it though.

[2020-02-17 22:33] hishamco commented on #43
I'm still facing a restore issue due Internet connection issue, if you want to submit a PR for this no problem

[2020-02-17 22:48] csharpfritz commented on #93
@blowdart Are you recommending a different implementation?

[2020-02-17 23:40] SQL-MisterMagoo commented on #91
It is possible to switch default layout, for example if you had a way of detecting mobile (there are lots of ways of course), you could just switch layout in the router

[code]
[code]

Of course there are more complicated scenarios, such as using mobile but allowing the user to switch to desktop mode and back again, but the concept is still the same - just swap the default layout.

[2020-02-18 00:09] csharpfritz commented on #91
I think we should provide that `IsMobileDevice` property to help with this

[2020-02-18 00:26] SQL-MisterMagoo commented on #91
I think that WebForms had some pretty comprehensive ways of detecting this - is any of that code open source / available to this project?

[2020-02-18 00:29] csharpfritz commented on #91
That code should be available in the GitHub repository with the rest of
ASP.NET.  We should be able to lift it

There were also ways to detect using App_Browsers and some syntax in that
folder.  Its not something that we should want to maintain

Jeff

On Mon, Feb 17, 2020 at 7:26 PM SQL-MisterMagoo <notifications@github.com>
wrote:

[2020-02-18 00:51] grleachman commented on #93
The philosophy of this project is to reduce friction moving to Blazor from webforms.
By that measure anything that leads to reducing even a single migration step, e.g. implementing Databinding.Eval, is worth exploring.

They might be io or cpu intensive, but they move you from

`A => B(lazor)--;`

To move to Blazor, I already have to put an age of effort into finding and moving business logic out

[2020-02-18 01:10] blowdart commented on #93
I'm back to what are people using viewstate *for*. If it's storing objects, then surely session is already there?

[2020-02-18 01:28] csharpfritz commented on #93
ViewState has a different lifecycle on Web Forms that is more similar to a fields on a Blazor component.

[2020-02-18 01:51] grleachman commented on #1
I think your work on DataBinding.Eval has resolved this. ??

[2020-02-18 02:34] csharpfritz commented on #1
Unfortunately I don't think it will.  Eval returns a RenderFragment that gets rendered as a string.

We would need to implement an Item property that returns the type of `@context.`

[2020-02-18 15:35] hishamco commented on #93
I'm not sure how `ViewState` may fit in this project while the intend to provide rich controls?!! It may suitable for one of my projects to use WebForms in AspNetCore

[2020-02-18 16:11] #93 closed

[2020-02-18 17:22] hishamco commented on #71
![Restore](https://user-images.githubusercontent.com/3237266/74760919-336e7f00-528c-11ea-8511-1a8bd684b5b2.png)

@csharpfritz attached error. Today the Internet becomes better at my end, but still I'm facing a restoring issue

[2020-02-18 21:30] hishamco commented on #71
Finally it works, but the `BeforeWebForms` need to be unloaded no problem while the new stuff it works

It is time to check the issues and start PRs ;)

[2020-02-20 16:59] #85 closed

[2020-02-20 17:01] csharpfritz opened #100 "Need a BasePage to provide some of the base services"
There are several features in the Page object that should be made available to the application.

 - [x] Page.Title

[2020-02-21 17:41] csharpfritz commented on #100
Some initial research done in the spike_UserControl branch

[2020-02-22 21:41] hishamco commented on #100
What should be done here?

[2020-02-22 21:43] hishamco commented on #79
I think the better way to fix this is not using Enums namespace? I can file an issue regarding namespace change suggestion that may make the migration so simple

[2020-02-23 02:39] #6 closed

[2020-02-23 21:07] hishamco commented on #79
Is there a reason to declare `enum` as `abstract class`?

[2020-02-23 22:13] hishamco commented on #43
FYI I'm working on PR for this, hope to submit it ASAP ...

[2020-02-23 22:58] csharpfritz commented on #79
There are other features we need to these enums and by taking this approach we get pattern matching to check if the enum is selected

Jeff

[2020-02-26 10:36] hishamco commented on #82
What's the progress of this? What's remaining to work with?

[2020-02-26 10:37] hishamco commented on #79
Is this working fine?
[code]

[2020-02-26 10:38] hishamco commented on #89
Are you working on this one?

[2020-02-26 10:40] hishamco commented on #68
Which frames you mean? Could you please elaborate so I can start to fix this

[2020-02-26 11:21] hishamco commented on #36
An updates on this one?

[2020-02-26 11:27] hishamco commented on #40
Regarding the `ComponentIdGenerator` we should have ability to generate the IDs and set them manually something like what WebForms provide before using `ClientIDMode`

[2020-02-26 11:28] hishamco commented on #40
I will start working on this one

[2020-02-26 11:46] hishamco commented on #40
@csharpfritz is there a way to access `@ref` from within `BaseWebFormsComponent`?

[2020-02-26 16:03] SQL-MisterMagoo opened #105 "Should the project use configuration for any "magic strings""
If there are JavaScript methods that need to be called by name, rather than store the name in a constant in the code, would it be better to use configuration?

This would also allow the developer to call their own methods in place of the default - should they require it.

[2020-02-26 16:10] csharpfritz opened #106 "JavaScript Interop Build tooling?"
We have a concept for some tooling to help lint or provide build checking to ensure that C# code that calls JavaScript is referencing script that exists

[2020-02-26 16:12] VorTechS commented on #106
https://bridge.net/ might be what you were thinking of....

[2020-02-26 16:14] VeronicaHex commented on #106
This is the current documentation for reference. https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-3.1

[2020-02-26 16:14] lythix commented on #106
We already have some great tools for generating code. t4 Templates and Roslyn.
This article shows how to generate Javascript from C#, we could see if we can do the reverse.
https://docs.microsoft.com/en-us/archive/msdn-magazine/2016/december/roslyn-generate-javascript-with-roslyn-and-t4-templates

[2020-02-26 16:22] hishamco commented on #105
Could you please provide an example?

[2020-02-26 16:25] csharpfritz commented on #36
Nothing yet...  will re-evaluate next week

[2020-02-26 16:25] #89 closed

[2020-02-26 16:26] csharpfritz commented on #82
Still working on the Read-only mode, and need to be able to trigger and handle Commands

[2020-02-27 00:32] grleachman commented on #40
is this of interesting?
https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.inamingcontainer?view=netframework-4.8

[2020-02-28 00:55] grleachman commented on #29
I've been looking at this ticket for a few days now.

I wonder if it would be better to break it out into actual WebForms template tickets. A ticket to implement the EditItemTemplate for instance would keep the scope narrow, and allow a PR for  some of the ListViewItem behaviour.

ListViewItem and it's accompanying behaviours just seems balloon when I've tried to approach this ticket as a single P

[2020-03-03 17:13] #43 closed

[2020-03-06 22:44] grleachman opened #110 "Making the Test output better behaved."
currently test output is generated using Console.WriteLine.
This makes for a noisy output, and slows down the dotnet watch, critically during minimal march we need to optimise the tests and avoid any unnecessary stdout.

[2020-03-06 22:48] grleachman commented on #110
During investigation of this issue I found a few interesting articles on the xunit tests and why it was not outputting the Console.Writeline when running `dotnet test` on windows.

[Console.WriteLine calls during dotnet test are not emitted to the console on Windows](https://github.com/dotnet/sdk/issues/7358)
moved to
[Console.WriteLine calls during dotnet test are not emitted to the console on Wi

[2020-03-10 14:30] csharpfritz opened #112 "Components need to be able to access Parent Components"
This will help with creating IDs for the components and passing data between components

[2020-03-10 14:39] csharpfritz opened #113 "Start using the xUnit Logger"
Let's start using the xUnit logger for logging data during unit tests going forward.

Syntax is similar to:
[code]

More information at:  https://github.com/egil/bunit/releases/tag/v1.0.0-beta-6

[2020-03-10 18:59] hishamco commented on #113
I can work on this

[2020-03-11 14:18] csharpfritz opened #115 "Apply the Blazor WebAssembly 3.2 Preview 2 update"
Update the AfterBlazorClientSide sample project with this version of the WebAssembly references and features.

More information on the team blog post at:  https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/

[2020-03-11 14:38] csharpfritz opened #117 "CommandButton should trigger StateHasChanged when OnCommand runs"
See the AfterBlazorServerSide sample project in the Button/Index.razor demo.  It should not require the call to StateHasChanged in the OnCommand event handler to update the UI

[2020-03-12 12:05] canhorn commented on #117
Does the OnCommand have to have a type of EventHandler<CommandEventArgs>?
Using EventCallback<CommandEventArgs> would allow for state changes to be propagated, but it would not have the same method declaration on usage.

[2020-03-12 12:22] canhorn commented on #117
Here is more details on why EventCallback was created: https://github.com/dotnet/aspnetcore/issues/11035

[2020-03-12 13:06] csharpfritz commented on #117
The only reason I considered EventHandler was to have some compatibility
with existing code.  EventCallback can certainly be used instead

Jeff

On Thu, Mar 12, 2020 at 8:23 AM Cody <notifications@github.com> wrote:

[2020-03-12 16:16] csharpfritz opened #122 "Bug: GridView header test errors occasionally"
Unit test `GridView.EmptyDataText` fails with this error message:

Test: BlazorWebFormsComponents.Test.GridView.EmptyDataText.Razor test runner
Priority: not available
Test file: blazorwebformscomponents.test.dll
Machine: fv-az764
Tested build: 0.6.0+75b5bd97c6
Error message: FirstTest failed: ---- Shouldly.ShouldAssertException : tableHeaders[1].TextContent should be "Id" but was "Name" differenc

[2020-03-13 15:43] #117 closed

[2020-03-13 15:44] #112 closed

[2020-03-13 15:44] csharpfritz commented on #112
Completed with #116

[2020-03-13 16:27] csharpfritz opened #125 "Bug: Re-implemented ParentElement / Parent in BaseWebFormsComponent"
The same feature for Parent component access is now in `BaseWebFormsComponent` with property names:

- ParentElement
- Parent

This should be de-duplicated and we need tests for the FindControl method and Controls collection

[2020-03-15 01:42] grleachman commented on #110
can close

[2020-03-15 12:36] #110 closed

[2020-03-15 12:41] #125 closed

[2020-03-16 18:29] JuViquez opened #127 "Migrate a more "realistic and complex" demo"
I think it might be a good idea to try migrating the [Microsoft's Wingtip Toys demo](https://github.com/Project6/Wingtip-Toys) to Blazor using the components of this repo.

This Demo is used by Microsoft in this [Getting started with WebForms](https://docs.microsoft.com/en-us/aspnet/web-forms/overview/getting-started/getting-started-with-aspnet-45-web-forms/introduction-and-overview) tutorial.

[2020-03-17 08:58] grleachman commented on #122
Even with the ToList() the test passes every time. I've even run the test runner on churn (ie it just keeps running the test) and this test passes all time.

I have seen this error only once which was on the first run of the test runner when I opened visual studio, so I have no evidence that removing ToList() actually does anything for the test.

[2020-03-17 13:35] csharpfritz commented on #127
This is a very good use case for us to explore, and the challenges we find while doing that migration will lead to enhancements.

Good find!

[2020-03-18 13:27] csharpfritz opened #128 "Need more unit tests for GridView GeneratedColumns"
It would be great to have unit tests to verify the GeneratedColumns handle:

- [ ] Add tests for different data classes to ensure reflection is properly used
- [ ] Add tests for classes with mixes of public, private, static properties, and fields

[2020-03-19 12:41] csharpfritz opened #129 "Finish implementing the Button component features"
- [x] Button style attributes - this feels like an implementation with the IHasStyle
- [x] CausesValidation attribute
- [x] Enabled attribute
- [x] PostBackUrl attribute
- [x] ToolTip attribute
- [x] UseSubmitBehavior attribute
- [ ] ValidationGroup attribute
- [x] Visible attribute

[2020-03-19 13:55] Electrohx opened #131 "Migrate site piece by piece"
So I asked this question on the stream today and got a great answer, but Jeff also told me to drop off a new issue for this here so thats what i wanna do (Im not too familiar how theese issues work but I assume you look at them and decides if you wanna do a "tutorial" based on them or not)
So here goes my Q.

At work we have a app built in webforms that is gigantic (Big according to Jeff ;)) proba

[2020-03-19 14:07] csharpfritz opened #132 "Create a LinkButton component"
Should have identical features to the Button component, except rendering a hyperlink instead of a button tag

[2020-03-19 14:23] hishamco commented on #132
I will handle this one

[2020-03-19 16:12] hishamco commented on #132
I already pushed a PR for this

[2020-03-20 14:50] csharpfritz commented on #131
This sounds like a pretty good set of samples and docs that we could build to help illustrate how to migrate to Blazor

[2020-03-21 13:22] csharpfritz commented on #122
Added an orderby clause in 0eeb34fbacb0798d5c898c76f71e79a20621dcde and this appears to be fixed

[2020-03-21 13:22] #122 closed

[2020-03-22 14:27] #132 closed

[2020-03-22 14:30] csharpfritz opened #134 "LinkButton documentation"
We need an article in the `docs` folder for the LinkButton.

[2020-03-22 14:34] csharpfritz opened #135 "Unit Tests for LinkButton"
We could use a few unit tests to verify the LinkButton functionality and formatting

- [ ] Outputs a proper A tag
- [ ] On click triggers a click event
- [ ] When CommandName is configured, triggers the Command event

[2020-03-22 14:47] csharpfritz opened #136 "LinkButton samples"
We need some samples showing the LinkButton in use in the `/samples/AfterBlazor*` projects.

[2020-03-22 15:15] hishamco commented on #136
Assign it to me

[2020-03-22 15:16] hishamco commented on #135
Assign this too

[2020-03-22 15:16] hishamco commented on #134
I already added this in my previous PR ;)

[2020-03-22 15:26] hishamco commented on #134
FYI https://github.com/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/LinkButton.md

[2020-03-22 15:56] csharpfritz opened #138 "Add static analysis to the build process"

[2020-03-23 01:32] #136 closed

[2020-03-23 01:33] #135 closed

[2020-03-26 13:37] hishamco opened #152 "Add asp prefix"
It would be nice if we enable `asp:` prefix by default for the components, so it's easily to start copy and paste some markup during migration from WebForms, so

[code]

is more better than

[code]

for ASP.NET WebForms devs

[2020-03-26 13:38] hishamco commented on #152
@csharpfritz if sound good to you I can make a PR for this

[2020-03-26 13:40] egil commented on #152
Is that syntax legal in Razor? I mean, what would you name the component, e.g. `asp:Button.razor`? I would be surprised if it was possible.

I think a quick search/replace by the users who are copy pasting will be ok.

[2020-03-26 15:22] hishamco commented on #152
AFAIK Yes!! TagHelpers support prefixes from the beginning

[2020-03-26 15:27] csharpfritz commented on #152
But do Blazor components support prefixes?  Do you have a
proof-of-concept?  This would be HUGE to make components markdown
compatible.

Otherwise, a small dotnet tool that does the rewrite of .ASPX or .ASCX
files to .razor format including a cleanup of these tagnames would be the
way around it

Jeff

On Thu, Mar 26, 2020 at 11:22 AM Hisham Bin Ateya <notifications@github.com>
wrote:

[2020-03-26 16:59] hishamco commented on #152
For Blazor I'm not sure, but this is a TagHelper thing, let me have a try

[2020-03-26 17:18] hishamco commented on #152
Seems it's not supported in the official bit, hope to find a way to make this happen

@SteveSandersonMS @danroth27 is this doable?

[2020-03-26 17:49] SteveSandersonMS commented on #152
I'm afraid it's not something we currently have any plans to add. If it becomes a commonly requested feature we'd certainly consider it though!

[2020-03-26 17:52] hishamco commented on #152
Is there an extensibility point that let me hook this up and access the component before rendering to make such thing happen?

[2020-03-26 17:54] egil commented on #152
I am pretty sure it is part of the Blazor razor file compiler, so I don't think so.

[2020-03-26 17:54] SteveSandersonMS commented on #152
No, this would need to be implemented in the Razor compiler. There is no current extensibility point for controlling the names of the tag helpers that we generate for the Blazor components during compilation. It's something we'd only do if it was very commonly requested.

[2020-03-26 17:57] hishamco commented on #152
I just have a look to the `.g.cs` files, so that's can be done in `Razor Compiler` as you said

Thanks

[2020-03-26 18:01] hishamco commented on #152
Frankly I didn't deal with the razor compiler internals, but if there's possibility to use a custom version using `MSBuild`, so I can fork the repo and do my modifications, if is not as @csharpfritz suggested earlier, a tool to strip out the prefix from the old WebForms controls may be needed

[2020-03-26 22:17] egil commented on #152
@hishamco I do not think it is worth the effort to try and create a derived version of the Blazor compiler for this. The initial work won't be simple, and you would also have to keep it in sync with the original when that changes.

I am not even sure a custom tool should be high on the todo list. People can simply do a search replace in their files for `<asp:` and replace it with `<`.

[2020-03-26 22:22] hishamco commented on #152
You are right, at least the tool can help to migrate user controls into components

[2020-03-29 15:29] csharpfritz opened #154 "Button Sample Cleanup"
The text and underline effects do not appear properly in the samples

[2020-03-29 15:49] hishamco commented on #154
I will have a look ..

[2020-03-29 16:11] #154 closed

[2020-03-29 18:20] grleachman commented on #128
Are you wanting to finish testing the current implementation, or are you expecting to extend this to using DisplayAttribute Annotations?

[2020-03-29 19:06] csharpfritz commented on #128
My thinking was to add the validation so that the DisplayAttribute feature,
when added, can be assured that it isn't breaking the existing feature.

On Sun, Mar 29, 2020 at 2:20 PM Gareth Leachman <notifications@github.com>
wrote:

[2020-03-30 02:07] csharpfritz commented on #115
Upgraded to 3.2p3

[2020-03-30 02:07] #115 closed

[2020-03-30 02:10] csharpfritz commented on #100
Not entirely sure... needs some more research and discussion.  This could be a key-piece to allow complete site-migration.

Adding to the parking lot for investigation after components are completed

[2020-03-30 02:12] csharpfritz commented on #38
Live site is published at blazorwebformscomponents.azurewebsites.net

[2020-03-30 02:12] #38 closed

[2020-03-30 02:14] csharpfritz commented on #12
Created a `BaseLayout` in the `spike_UserControls` branch and it shows promise.

Moving to future milestone for evaluation after the initial components are built

[2020-03-30 12:58] egil commented on #152
@csharpfritz think you can close this.

[2020-03-30 13:53] #152 closed

[2020-03-31 17:55] twsouthwick commented on #92
I've recently been working on a project that needed this. I'd like to take a look at what would be possible here. Some of the issues I've seen:

- [ ] Need an HtmlTextWriter
- [ ] Support for `ControlCollection`
- [ ] `FindControl(string id)`

That's the order of importance I've seen. I've got a simple custom control working that takes in an `HtmlTextWriter` and writes out content via the `RenderT

[2020-03-31 17:58] twsouthwick commented on #92
I just took a look at the structure of the library, and it looks like two of the issues are already available. Nice!

[2020-03-31 18:04] csharpfritz commented on #92
Ooh...  HtmlTextWriter sounds like a VERY cool feature to add

[2020-04-02 08:23] TPIvan opened #159 "@bind attribute cannot be used inside GridView item template."
**Sumary**
When I use

    <input type="text" @onblur="StateHasChanged" @bind="item.Name" />
inside TemplateField/ItemTemplate I am getting

When the code is replace by "full syntax"

    <input type="text" value="@item.Name" @onchange="@((ChangeEventArgs __e) => {  ((ExpLocItem )item).Name = __e.Value.ToString(); })" @onblur="StateHasChanged" />
It works as expected.

**Full example:**

    @page

[2020-04-03 15:10] TPIvan opened #160 "GridView doesn't work properly with DatatTable."
_Webforms_ `GridView `  `Datasource ` property type is `object `so it can handle a _collection_ as well as `DataTable`. _Blazor_ `GridView ` `DataSource ` property type is `ienumerable`. To overcome this limitation I have used `.AsEnumerable` extension method. But even though columns auto-generation doesn't work (`AmbiguousMatchException`).  I have also attempted to use `.DefaultView.Cast<DataRowV

[2020-04-04 19:33] grleachman commented on #160
Hi, thank you for reporting this.
At the moment the project owner has explicitly excluded support for DataSource.

see the [readme line 61 ](https://github.com/FritzAndFriends/BlazorWebFormsComponents/blame/dev/README.md#L61)

We will NOT be converting any DataSource objects, Wizard components, skins or themes.
Regards
Gareth

[2020-04-10 14:35] grleachman commented on #159
I have committed a fix and a test,
However the ComponentUnderTest does not seem to like the @bind attribute.
I have submitted a bug report to [egil](https://github.com/egil/bunit/issues/96)

[2020-04-14 12:49] csharpfritz opened #163 "Pass through ItemTypes to childcomponents"
Example:  For a GridView, need to pass the ItemType of the Grid through to the column child components so that we don't have to repeat the ItemType on each of the child components

[2020-04-17 01:44] grleachman commented on #163
**DEVNOTES**

I've tried to think a little differently about this, and compared [ListView ](https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.webcontrols.listview?view=netframework-4.8)and [GridView ](https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.webcontrols.gridview?view=netframework-4.8)

ListView	| GridView
----------|------------
 Asp.Net 3.5.	| Asp.Net 2.0.
 Template drive

[2020-04-17 07:45] egil commented on #163
I like the general idea of implementing the GridView through the ListView. Users should not see a difference on the surface.

[2020-04-17 13:16] csharpfritz commented on #163
Very interesting approach... I like the simplicity of the approach and
re-use of other components we've already completed

Jeff

On Fri, Apr 17, 2020 at 3:45 AM Egil Hansen <notifications@github.com>
wrote:

[2020-05-08 16:41] grleachman commented on #134
can this be closed?

[2020-05-08 16:48] csharpfritz commented on #134
Done...  Good catch!

[2020-05-08 16:48] #134 closed

[2020-05-26 13:40] csharpfritz opened #169 "Menu - JavaScript error onmouseover"
There is an error reported in the console when you mouseover the menu

[2020-05-26 14:04] csharpfritz commented on #169
Removed extra Items tag in rendered output

[2020-05-26 14:04] #169 closed

[2020-05-28 14:13] csharpfritz opened #170 "Unit test Menu component"
The Menu component has a significant JavaScript component to it and we are currently unable to test this component without injecting a JavaScript Interop with bUnit.

@egil can you help us set a standard in our project for testing components that need the JavaScript interop?

[2020-05-28 14:42] egil commented on #170
The general recommendation is to treat JSInterop calls as web service calls, thus, like we would in a normal testing scenario involving web services, we abstract the code that performs the actual JSInterop calls using e.g. an interface, which we can mock during testing. If it is very few calls, or the calls between the Blazor component and JS is simple, then the easiest is to just use the MockJSIn

[2020-05-31 15:42] csharpfritz commented on #170
This was a huge help!  We now have our Menu component unit testing successfully.  Check /src/BlazorWebFormsComponents.Test/Menu/DocsSample.razor@feature_Menu

[2020-05-31 15:45] #170 closed

[2020-07-28 18:17] odin88 commented on #11
@SimonGeering "anabe phau' ?

[2020-07-28 18:18] odin88 commented on #18
@hishamco maybe use Telerik Code Converter ? https://converter.telerik.com/

[2020-07-28 18:27] SimonGeering commented on #11
Good question, given it was 7 months ago I'm going to go with "android keyboard autocorrect"? 😁

[2020-07-28 19:32] hishamco commented on #18
@odin88 Telerik converter converts a syntax from C# to VB.NET and vise versa, but the case here to introduce a dotnet tool for doing the conversion from ASP.NET WebForms User Controls to Razor Components

[2020-07-29 03:04] odin88 commented on #18
I'm referring to your last line "Just one question following your project will still close the possibility for VB developers to migrate their code"

[2020-07-29 03:14] hishamco commented on #18
What I mean is going with Blazor will enforce everyone to use C#

[2020-08-01 16:47] csharpfritz commented on #160
I'm going to turn this into a unit test and we'll get this worked out.

Thank you for trying the GridView....  there's a bit of work due on it, and this makes it easier for us to identify a user case that we overlooked

[2020-08-01 16:48] csharpfritz commented on #159
Closing with the PR submitted by @grleachman

[2020-08-01 16:48] #159 closed

[2020-08-01 16:53] csharpfritz opened #171 "Autopublish the Samples site"
We have two samples projects in the solution, and when a release is cut we should publish the samples site automatically.

[2020-08-01 17:01] csharpfritz opened #172 "Add scripts for version publishing"
We need to get better about publishing version numbers and release notes.  Let's add a script to make it easy to publish a release and summarize the commit messages in the dev branch

[2020-08-01 17:03] csharpfritz opened #173 "Publish BeforeWebForms to run publicly"
We need to enable developers on Mac and Linux to see the outcome of the BeforeWebForms project.  Let's publish a free instance of this website so that it can be references by all contributors

- [x] Automate build from DEV branch
- [x] Create Azure App Service application
- [x] Automate deploy to that application

[2020-08-01 17:04] csharpfritz opened #174 "Create Chart 'Before' samples"
Let's find some of the ASP.NET documentation for the Chat control and build those samples on the BeforeWebForms project so that potential contributors can start evaluating an approach to build this control.

[2020-08-01 17:25] csharpfritz opened #175 "Need a logo"
We could really use a logo for this project to put on the NuGet registry and to use here on GitHub

[2020-08-01 23:22] hishamco commented on #172
I already did a script for versioning pre-release versions in GitHub packages using `{Package-Name}-pre-release-{YYMMDDHHmmSS} we can tweak the format to something suitable if it's needed

[2020-08-02 14:51] csharpfritz opened #178 "Make the Docs folder navigable"
We need to be able to navigate around the documentation in the docs folder.

Also:  we need a link to the docs on the Readme for this repository

The docs are being published to GitHub pages at:  https://fritzandfriends.github.io/BlazorWebFormsComponents/

[2020-08-02 15:07] crazy-max commented on #178
@csharpfritz We could use [Mkdocs Material](https://squidfunk.github.io/mkdocs-material/) to create the documentation website. As I said on your stream, I use it on some of my projects and it's pretty neat and straight forward:

* https://github.com/crazy-max/diun/tree/master/docs
* https://crazy-max.github.io/diun/

I will open a draft PR and keep you in touch about the implementation.

[2020-08-02 15:44] csharpfritz commented on #160
Working on this with a unit test in the fix_GridViewSupportDataTable_160 branch

[2020-08-02 16:16] #178 closed

[2020-08-02 16:35] AlexHedley commented on #178
Not to step on the fantastic work @crazy-max did with mkdocs, but just for comparison here's the docfx version
The only addition is the API docs

https://alexhedley.github.io/BlazorWebFormsComponents/

[2020-08-02 16:43] crazy-max commented on #178
@AlexHedley That's nice too! Thanks for sharing!

[2020-08-02 16:55] csharpfritz commented on #178
That is REALLY cool @AlexHedley -- thank you for sharing!

[2020-08-02 21:13] csharpfritz commented on #171
Updated and now autopublishing when a release is pushed to the Main branch

[2020-08-02 21:13] #171 closed

[2020-08-02 21:19] hishamco commented on #160
I planned to work one this, but while you already started it's in your plate ;)

[2020-08-04 04:44] Eilon opened #182 "The README links to the controls are all broken"
For example, this is a 404: https://github.com/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/Button.md

[2020-08-04 08:06] hishamco commented on #182
I will have a look

[2020-08-04 19:11] #182 closed

[2020-08-05 11:10] hishamco commented on #175
I can share one, but I suggest to tweet about this to encourage the designers who love OSS and passionate about Blazor & WebForms to design one for this project

[2020-08-05 11:44] csharpfritz commented on #175
I have an artist finishing a logo in the next day or two

Jeff

[2020-08-06 16:13] #105 closed

[2020-08-06 16:14] csharpfritz commented on #105
Added the JsScripts static class to contain these lookup values

[2020-08-06 16:17] csharpfritz commented on #82
Need to still add InsertItemTemplate and DeleteItemTemplate

[2020-08-06 16:28] hishamco commented on #82
Do you need a help on the above templates?

[2020-08-06 16:29] hishamco commented on #160
Shall I work on top of your branch or create a new one?

[2020-08-06 17:11] csharpfritz commented on #160
That branch has the test built for this feature.  It would be easier to
start there

Jeff

On Thu, Aug 6, 2020 at 12:29 PM Hisham Bin Ateya <notifications@github.com>
wrote:

[2020-08-06 18:45] hishamco commented on #160
Ok

[2020-08-07 04:43] hishamco commented on #160
FYI

After a lot of investigation seems `DataTable` is not supported by default, and the reason of `AmbiguousMatchException` was `DataRow` has multiple versions of indexer which causes the exception when we try to get the value of the `Item` property

Hence, supporting `DataTable` will be tricky little bit and we need to made a special case for it to make work, I will struggle to provide an elegan

[2020-08-07 13:32] csharpfritz commented on #160
Right! So we need to re-route the DataTable and DataRow types to some that can be IEnumerable.  I started work on some shim objects in that branch, DataTable and DataRow that could behave that way and wrap a System.Data.DataTable object.

Jeff

[2020-08-07 15:57] hishamco commented on #160
No worry, let me show you what I come up with ...

[2020-08-07 17:50] csharpfritz opened #186 "Improve BeforeWebForms samples navigation"
The navigation for the BeforeWebForms sample application needs improvement so that all sample pages can be reached using a unified menuing / navigation system

[2020-08-07 19:22] hishamco commented on #160
FYI @TPIvan, I just tested `AsEnumerable()` on ASP.NET GridView and it shows RowError and HasErrors columns, so I tried another way to support `DataTable` while the `DataSource` accepts `IEnumerable<T>` not an `object` as ASP.NET GridView

[2020-08-07 20:53] csharpfritz commented on #173
Automatically deploying when BeforeWebForms sample is updated in DEV branch.  Now deploying to:  https://beforewebforms.azurewebsites.net/

[2020-08-07 20:53] #173 closed

[2020-08-08 19:03] csharpfritz commented on #175
Merging logo into docs and package publication

[2020-08-08 19:03] #175 closed

[2020-08-09 14:49] csharpfritz opened #190 "BeforeWebForms sample needs links and a name"
The sample header and footer are the default "Application Name" and should probably be "BeforeWebForms Sample" with links back to the BlazorWebFormsComponents GitHub project and documentation.

[2020-08-09 15:18] #160 closed

[2020-08-09 15:26] csharpfritz opened #191 "Investigate: Can we simplify DataTable datasources?"
Can we either wrap our components or improve the DataBinding code to detect a DataTable / DataSet and execute the AsDynamicEnumerable() extension method internally to the component?

We need to simplify the signature of the controls so that using a DataTable / DataSet **ONLY** requires the same markup or API interaction as the original control

[2020-08-09 20:02] hishamco commented on #191
That's exactly what I wanna do ;)

This can happen if we fix the original issue which is make `DataSource`  property returns `Object` instead of `IEnumerable<T>`, You can assign this to me and I will start on working to refactor this

[2020-08-11 13:50] #106 closed

[2020-08-11 13:55] csharpfritz commented on #37
Moved the Web Forms navigation out to #186

[2020-08-11 13:55] #37 closed

[2020-08-11 15:32] #68 closed

[2020-08-13 13:39] #191 closed

[2020-08-16 14:32] #190 closed

[2020-08-16 14:43] #186 closed

[2020-08-16 23:53] mpaulosky opened #199 "Bug: Revise the Site.master in the BeforeWebForms project"
### Revise the Site.master in the BeforeWebForms project

To eliminate issues found with adding the TreeView menu on #186

- [ ] Menu expands to full screen when zooming and increasing the browser size.

- [ ] Menu expands to full screen when reducing the browser size.

[2020-08-16 23:54] mpaulosky commented on #199
I have a solution for this issue.

[2020-08-17 07:32] hishamco commented on #199
Can you submit a PR for it?

[2020-08-18 02:40] hishamco commented on #128
The PR #201 address the second point, @csharpfritz could you please elaborate the first point, so I can add it to the same or another PR?

[2020-08-18 13:51] csharpfritz commented on #128
I think that your test has this properly covered as it addresses static properties, fields, public and private scoped properties

[2020-08-18 13:53] #199 closed

[2020-08-18 14:28] hishamco commented on #128
Also I added an indexer to be sure that they are ignored, one more thing may I need to test the collection properties, then we can close this one

[2020-08-18 15:04] hishamco commented on #128
As expected there's a bug with collections properties, @csharpfritz please close this and I will open another issue

[2020-08-18 15:06] hishamco opened #203 "Collections properties throws an expection with GridView"
This is related to #128, we need to ignore collections properties with `AutoGeneratedColumns` and bound it with Template Fields

[2020-08-18 15:09] hishamco commented on #203
I'm working on this one ...

[2020-08-18 16:44] csharpfritz opened #205 "AdRotator does not work on Azure deployed sample"
AdRotator throws a strange error on https://blazorwebformscomponents.azurewebsites.net/ControlSamples/AdRotator

[2020-08-18 16:50] hishamco commented on #205
Is there any sort of logging so I can know what's going on, or is there possibility to set the environment to DEV, so I can trace

[2020-08-18 16:54] mpaulosky opened #206 "Enhancement: Add Sample Menus"
### Add to the BeforeWebForms project Menu samples

Add examples of both declarative and data source menus

- [ ] Declarative horizontal and vertical menus.

- [ ] Data source horizontal and vertical menus

- [ ] CSS styled menus?

[2020-08-18 16:55] mpaulosky commented on #206
I am working this

[2020-08-23 15:33] csharpfritz opened #209 "Complete implementing AdRotator attributes"
Some attributes for the AdRotator that need to be completed:

- [ ] All Style attributes, implementing IHasStyle
- [ ] KeywordFilter

[2020-08-23 15:36] csharpfritz opened #210 "AdRotator DataBinding features"
AdRotator needs to support the DataBinding features like:

- [ ] DataSource
- [ ] DataMember
- [ ] DataBinding Events
- [x] AlternateTextField
- [x] ImageUrlField
- [x] NavigateUrlField
- [x] OnAdCreated

[2020-08-23 16:56] csharpfritz opened #211 "Project Management - August 2020"
Review all controls and features for completeness, ensuring samples and docs are available.  Additionally, let's ensure we have migrations docs built.  We will create issues for all of these controls listing missing attributes, samples, and docs.

**Editor Controls**
- [x] AdRotator
- [x] Button
- [x] HiddenField
- [x] HyperLink
- [x] Image
- [x] ImageButton
- [ ] Label
- [ ] LinkButton
- [ ] Lite

[2020-08-23 17:53] hishamco commented on #209
I can work on this one ...

[2020-08-23 17:53] hishamco commented on #210
I can work on this one ...

[2020-08-23 17:54] hishamco commented on #205
@csharpfritz could please answer my question, so I can fix this

[2020-08-23 18:53] csharpfritz commented on #210
You got it @hishamco !

[2020-08-23 18:59] csharpfritz commented on #205
It looks like the ads.xml may not have been deployed...  I'm investigating further

[2020-08-23 18:59] csharpfritz commented on #209
Assigned

[2020-08-23 19:00] csharpfritz commented on #128
Closing and redirecting to #203

[2020-08-23 19:00] #128 closed

[2020-08-23 19:14] hishamco commented on #210
@csharpfritz is there ability to edit your first thread so I can check the one that have been done while I'm working on

[2020-08-23 19:43] hishamco commented on #209
- [ ]  All Style attributes, implementing IHasStyle

- [ ]  KeywordFilter

[2020-08-24 00:21] hishamco commented on #210
Finished  last 4 points, I will create another PR for DataBinding later on ...

[2020-08-24 00:53] hishamco commented on #210
Just thinking about `DataSource` I think we should do similar to what we did when we bound `DataTable` to `GridView`. Regarding `DataMember` I don't think I used in the past so your thought @csharpfritz?

[2020-08-25 16:49] csharpfritz opened #216 "Button DataBinding support?"
The official documentation reports an OnDataBinding attribute.  What does this get wired up to, and how does it effect the button?

Please investigate

[2020-08-25 16:52] csharpfritz opened #217 "Complete documentation for the Button component"
Include sample usage and references to any changes necessary from the WebForms control in order to use this component

[2020-08-25 16:57] csharpfritz opened #218 "HiddenField - Missing Attributes?"
Let's investigate the following attributes and add them if appropriate:

- [ ] OnDataBinding
- [ ] Visible  -- This feels strange since the field is a HIDDEN field

[2020-08-25 16:58] csharpfritz opened #219 "HiddenField needs Documentation"
Let's add Blazor specific implementation details and notes

[2020-08-25 17:52] hishamco commented on #216
I will handle this ...

[2020-08-25 17:52] hishamco commented on #218
I will have a look to this too ...

[2020-08-25 17:55] hishamco commented on #218
This is strange because the property is belong to `Control`, so no action needed here

[2020-08-26 16:20] Eilon opened #222 "Change from Reflection to TypeDescriptors"
There are two general ways to get type/member metadata in .NET that tell you about the structures, names, and types of things:

1. Reflection: Low-level, "raw" data. These APIs tell you what's actually there. Not much customization can be done with these. You just read what's there.
1. TypeDescriptors (part of ComponentModel): Higher-level baked data. By default this wraps up calls to Reflection A

[2020-08-26 16:28] Eilon commented on #222
Examples where this is problematic right now:

1. BWFC DataBinder uses Reflection: https://github.com/FritzAndFriends/BlazorWebFormsComponents/blob/dev/src/BlazorWebFormsComponents/DataBinder.cs#L89-L90
   * WebForms DataBinder uses TypeDesciptor: https://github.com/microsoft/referencesource/blob/master/System.Web/UI/DataBinder.cs#L155
1. BWFC uses Reflection.Emit to mimic much of what ICustomType

[2020-08-26 16:29] Eilon commented on #222
I already have a work in progress on this that I can share soon. I think it simplifies much code.

[2020-08-26 18:05] Eilon commented on #222
This also avoids the design-time compiler error `The typeof operator cannot be used on the dynamic type`:

![image](https://user-images.githubusercontent.com/202643/91339878-f8de2580-e78b-11ea-941b-720e0a78148e.png)

Because now you use `ItemType="object"` instead of `ItemType="dynamic"`.

[2020-08-26 18:22] Eilon commented on #203
@hishamco do you have an example of what doesn't work right now?

Also, this might be related to this change I just submitted: https://github.com/FritzAndFriends/BlazorWebFormsComponents/pull/223

Using Reflection often is a source of these types of problems. My change removes most usage of Reflection, so perhaps it also fixes this issue here?

[2020-08-27 14:48] csharpfritz opened #225 "Hyperlink needs more documentation"
Needs some blazor implementation details added

[2020-08-27 14:50] csharpfritz opened #226 "Add Style features to Hyperlink"
Hyperlink needs to implement IHasStyle.  Also needs these attributes implemented:

- [ ] OnDataBinding
- [ ] Tooltip
- [ ] Visible

[2020-08-27 14:57] csharpfritz opened #227 "Image control needs style and some attributes"
Need to implement IHasStyle and attributes:

- [ ] GenerateEmptyAlternateText
- [ ] ImageAlign
- [ ] ToolTip
- [ ] Visible

[2020-08-27 14:59] csharpfritz opened #228 "Image needs some documentation"
Need to add some Blazor specific notes to the Image docs

[/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/EditorControls/Image.md](/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/EditorControls/Image.md)

[2020-08-27 15:12] csharpfritz opened #229 "ImageButton is missing Style and other attributes"
ImageButton needs to implement IHasStyle and these attributes:

- [ ] Enabled
- [ ] ImageAlign
- [ ] OnDataBinding
- [ ] ToolTip
- [ ] Visible

[2020-08-27 15:43] csharpfritz opened #230 "Need to make it clear that Windows / Visual Studio is not required to contribute"

[2020-08-27 16:06] csharpfritz commented on #226
Moving out OnDataBinding to a separate issue

[2020-08-27 16:08] csharpfritz opened #231 "Need HyperLink integration samples"
Add a Hyperlink folder inside the AfterBlazorServerSide/Pages/ControlSamples folder and add some content that exercises the Hyperlink component

[2020-08-27 16:11] #226 closed

[2020-08-27 16:23] csharpfritz opened #233 "Need to update Strategies doc about DataBinder"
We have since introduced a DataBinder to the components, and this section of the docs needs to be updated / removed

[/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/Migration/Strategies.md](/FritzAndFriends/BlazorWebFormsComponents/blob/dev/docs/Migration/Strategies.md)

[2020-08-27 20:28] mpaulosky commented on #230
I have a first run at this
Please review and comment

[2020-08-27 20:51] hishamco commented on #228
What kind of docs that we need here?

[2020-08-27 20:52] hishamco commented on #225
What kind of docs that we need here?

[2020-08-27 21:00] hishamco commented on #203
Try to add a class which has a collection property and bind it with the `GridView` with `AutoGeneratedColumns` enabled

[2020-08-27 22:10] hishamco commented on #229
The PR #235 fixes all except `OnDataBinding` which we need to agree with before we applied to all the components

[2020-08-27 22:54] Eilon commented on #203
Got it. I can try to take a look if you're busy with your recovery.

[2020-08-27 23:04] hishamco commented on #203
I already started on this, I can continue working on it, but it would be nice to merge your PR first coz there low level reflections have been removed

Thanks

[2020-08-27 23:14] Eilon commented on #203
In System.Web there was this helper method that I think was used to determine which properties were bindable by default:

https://github.com/microsoft/referencesource/blob/3b1eaf5203992df69de44c783a3eda37d3d4cd10/System.Web/UI/WebControls/DataBoundControlHelper.cs#L79

[2020-08-28 11:51] hishamco commented on #229
- [x] Enabled
- [ ] ImageAlign
- [ ] OnDataBinding
- [x] ToolTip
- [x] Visible

[2020-08-28 12:35] hishamco commented on #227
- [x] GenerateEmptyAlternateText
- [ ] ImageAlign
- [x] ToolTip
- [x] Visible

[2020-08-28 15:09] #222 closed

[2020-08-28 15:10] #230 closed

[2020-08-28 15:17] #227 closed

[2020-08-29 21:39] hishamco commented on #129
@csharpfritz do you need any kind of help on this?

[2020-08-29 21:43] hishamco commented on #49
Any updates on this?

[2020-08-29 21:45] hishamco commented on #29
Addressed in #237

[2020-08-30 14:31] csharpfritz opened #241 "Modifying style properties after style is calculated is not reflected"
Example:  update the border property after a component has been rendered and the component will not update with the new border style

[2020-08-30 14:31] csharpfritz commented on #241
This feels like it can be exposed as a unit test

[2020-08-30 14:32] #209 closed

[2020-08-30 14:37] #203 closed

[2020-08-30 14:40] hishamco commented on #241
I will have a look what the original cause for the bug I faced before

[2020-08-30 15:00] #231 closed

[2020-08-30 15:04] hishamco commented on #216
If I'm not wrong this is supported by default now ;)

[2020-08-30 16:07] hishamco commented on #241
I'm closing this because there's no bug, but the issue was with the border style

[2020-08-30 16:07] #241 closed

[2020-08-30 16:24] hishamco commented on #210
@csharpfritz I start work to make `AdRotator` a `DataBoundCompoment` but the issue is both `DataSource` and `DataMember` are associate with DataSource controls in ASP.NET, so mark them as `Obsolete` may a better choice unless we need to bind it with `DataTable` but this need some efforts to map table columns to `AdRotator` properties

Your thoughts?

[2020-08-30 16:39] csharpfritz commented on #210
DataSourceID is used with DataSource controls in ASP.NET.  DataSource and DataMember work with code-behind and DataBinding.  Let's NOT mark those as Obsolete.

Agreed about rolling the same databinding interactions just completed for GridView to the other data bound controls

[2020-08-30 17:08] hishamco commented on #210
Oops, just forgot that one ;)

Sounds good, but the issue here is based on the convention to map the `AdRotator` properties

[2020-08-31 12:30] csharpfritz opened #246 "CodeTour for new contributors?"
Perhaps adding a [CodeTour](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.codetour) would help make it easier for new contributors to find their way around our project.

Let's look at using the CONTRIBUTING doc to make a snazzy CodeTour for future contributors to learn about our project

[2020-09-03 14:39] csharpfritz commented on #129
Breaking out ValidationGroup as a separate issue

[2020-09-03 14:41] csharpfritz opened #247 "ValidationGroup"
All Validators and Buttons need the ability to trigger validation appropriately for validators when buttons are pressed that have the same `ValidationGroup` property set

[2020-09-03 15:16] #233 closed

[2020-09-04 21:28] hishamco opened #250 "Rename IHasXXXStyle to IXXXStyle"
While submitting the pr #243, I notice that we have some `IHasXXXStyle` interfaces, the naming is little bit not suited from API design point of you, what I'm suggesting is to replace them to `IXXXStyle` which is more clear

[2020-09-05 00:11] hishamco commented on #229
I think this is done

[2020-09-05 00:11] #229 closed

[2020-09-05 00:12] hishamco commented on #218
Also this

[2020-09-05 00:12] #218 closed

[2020-09-05 00:12] hishamco commented on #216
and this too ;)

[2020-09-05 00:12] #216 closed

[2020-09-05 00:14] hishamco commented on #129
I think we need to close this one

[2020-09-05 00:14] #129 closed

[2020-09-05 00:15] hishamco commented on #92
@twsouthwick any updates on this or what you did for a private project?

[2020-09-05 00:18] hishamco commented on #36
Duplicate of #247

[2020-09-05 00:18] #36 closed

[2020-09-08 13:35] csharpfritz commented on #250
This was an internal API, and should not have been exposed to the consumers.  For that, we could have kept a quirky name.

Not a problem to change

[2020-09-08 13:35] #250 closed

[2020-09-15 14:31] csharpfritz opened #251 "Need a GetRouteUrl helper"

[2020-09-15 15:04] hishamco commented on #251
I will handle this, and this should go into `ComponentBase` Am I right?

[2020-09-15 15:13] hishamco commented on #251
I rethink about it creating and extension method to `ComponentBase` will be better and clean

[2020-09-15 15:39] csharpfritz commented on #127
I am migrating the Wingtip Toys sample in the `docs_sample` branch and will merge it with some additional howto docs

[2020-11-08 12:59] #82 closed

[2021-03-16 11:31] ghost opened #261 "object sender in all events is not available"
object sender in events is a very useful feature, I personaly use @Ref="..." or Dictionary<string, Ref> alot instead of binding each control property to a variable. I get and set control properties by its reference, This may be anti pattern but possible and useful.

[2021-05-19 13:52] heavymanto opened #262 "info:how can retrive seleced keys in gridview?"
hi, i would like select row in gridview and retrive selected key for details scenario. How can i do?

[2021-09-21 20:36] timheuer opened #263 "Move sample project to NET 6.0"
Move to .NET 6.0 SDK and runtime

- [x] Move to .NET 6 TFM
- [x] Move to ASP.NET 6 minimal hosting APIs
- [x] Enable some implicit usings on server sample

[2021-09-21 20:38] timheuer opened #264 "Add CI workflows for PR/deploy via GitHub Actions"
Add deployment to the repo as a reproducible aspect of CI outside of non-public scripts:

- [ ] Add secrets to repo for publish profile for Azure
- [ ] Add GitHub Actions workflow for build/test for PRs on `dev`
- [ ] Add GitHub Actions workflow for deployment from `main`

[2022-01-19 15:05] #263 closed

[2022-07-15 15:09] akoranteng commented on #225
Can you share my information regarding what you mean by Hyperlink needs more documentation. What hyperlinks are you referring to here. Please elaborate

[2022-07-18 12:29] csharpfritz commented on #225
Yes... the documents in the docs folder need to be updated to include
information about what is supported by the current component and what needs
to be done.

Jeff

On Fri, Jul 15, 2022 at 11:51 AM Hisham Bin Ateya ***@***.***>
wrote:

[2022-08-22 21:56] akoranteng commented on #127
I would like to follow up on this migration. Can you point me to where in the documentation this resource is available.

[2022-08-22 22:06] akoranteng commented on #225
Any updates on when this will be updated. Just a follow up.